@charset "utf-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
}
li {
  margin: 0px;
  padding: 0px;
}

.header-1 ul {
  margin-bottom: 0px;
  padding: 0px;
}
.header-2 ul {
  margin-bottom: 0px;
  padding-top: 30px;
}
.header-3 ul {
  margin-bottom: 0px;
}
nav {
  margin: 0px;
  padding: 0px;
}
.header-1 {
  background-color: #EAEAEA;
  color: #232323;
}
.header-2 {
  background-color: #181818;
  color: #F7F7F7;
  height: 80px;
}
.header-3 {
  background-color: #232323;
}
ul {
  margin: 0px;
  padding: 0px;
}
.logo {
    float: left;
    margin-right: 20px;
    padding-top: 4px;
}
.header-1 li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.header-1 .nav-1-spacing a, .header-1 .nav-2-spacing a {
  padding: 7px 15px;
  display: block;
  float: left;
}
.header-1 .nav-1-spacing a:hover {
    background: #fff;
}
.header-2 .logo {
  padding-top: 0px;
}
.grey-btn a {
  background-color: #666666;
  padding: 10px 20px 5px 20px;
  color: white !important;
  display: inline-block;
}
.grey-btn a:hover {
  color: #eee !important;
}
.header-1 .grey-btn.last {
  margin-left: 1px;
}
.header-1 li:first-child {
  margin-right: 17px;
}
.header-1 li a {
  text-decoration: none;
  color: #232323;
}
.header-1 li a:hover {
  color: #6190BE;
}
.header-1 span {
  color: white;
  font-size: 12px;
}
.header-2 li {
  display: inline;
  text-transform: uppercase;

}
.header-2 li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0 0 30px 0;
  margin-right: 17px;

}
.header-2 li a:hover {
  color: #D2F311;
}

.header-2 span {
  color: black;
  background-color: #D2F311;
  padding: 30px 15px 30px;
  border: 1px solid black;
  margin-right: 0px;
}
.header-3 {
  text-align: center;
}
.header-3 li {
  text-transform: uppercase;
  display: inline-block;
}
.header-3 li a {
  color: #9DAAA5;
  text-decoration: none;
  display: block;
  padding: 16px 13px;
  position: relative;
}
.header-3 li a:hover, .header-3 .active a {
  color: #D2F311;
  background-color: #181818;
}
.header-3 .active span {
    background: url(../images/nav-arrow-black.png) no-repeat;
    width: 20px;
    height: 11px;
    display: block;
    position: absolute;
    bottom: -11px;
    left: 35%;
}
.focus {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
main img {
  width: 680px;
  height: 380px;
  margin-bottom: 100px;
  padding-right: 20px;
}
main p {
  color: #666666;
  margin-bottom: 40px;
  font-size: 1.6rem;
}
main h2 {
  border-bottom: 3px solid #F2CB05;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 500;
  padding-left: 100px;
  display: inline-block;
}
main .summary {
    margin-left: 100px;
    max-width: 580px;
}
main a {
  color:#2B98BC;
  font-size: 15px;
  text-decoration: none;
}
main a:hover {
  text-decoration: underline;
  color: #2B98BC;
}
main h3 {
  text-transform: uppercase;
  margin-top: 0px;
}
main h4 {
  text-transform: uppercase;
  padding-bottom: 0px;
  font-size: 15px;
  margin-top: 220px;
}
section li {
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
}
section li a {
    text-decoration: none;
    padding: 20px;
    color: #666666;
    margin: 0px;
}
section a:hover, section .active {
  color: #F2BF11;
  background-color: #181818;
  margin: 0px;
  padding: 20px;
  text-decoration: none;
}
section img {
  height:185px;
  width: 330px;
  margin-top: 40px;
}
section h3, section .row a {
    margin-left: 30px;
}
section .row a:hover {
  color:#2B98BC;
  background-color: transparent;
  text-decoration: underline;
  padding: 30px;
}
footer {
  background-color: #181818;
  color: #666;
  padding-top: 20px;

}
footer li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer h5 {
  color: white;
}
footer a {
  color: #9DAAA5;
  font-size: 12px;
}
footer a:hover {
  color: #D2F311;
  text-decoration: none;
}
footer img {
  margin-bottom: 40px;
}
.footerjr {
  background-color: #444444;
}
.footerjr li {
  display: inline;
  list-style: none;
}
.footerjr a, .footerjr a:hover {
  color: white;
  font-size: 11px;
  margin-right: 10px;
  text-decoration: none;
}
.footerjr img {
  margin-bottom: 20px;
  margin-top: 20px;
}
.footerjr ul {
  margin-bottom: 20px;
  margin-top: 20px;
}
.mid-nav {
    border-bottom: 1px solid #eaeaea;
    min-height: 39px;
}
.teams .col-md-4 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}
