@charset "utf-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
}
li {
  margin: 0px;
  padding: 0px;
}
nav {
  margin: 0px;
  padding: 0px;
}
.header-1 {
  background-color: #EAEAEA;
  color: #232323;
  height: 30px;
  width: 100%;
}
.header-2 {
  background-color: #181818;
  color: #F7F7F7;
  height: 80px;
}
.header-3 {
  background-color: #232323;
  height: 50px;
}
ul {
  margin: 0px;
  padding: 0px;
}
.header-1 li {
  list-style: none;
  display: inline;
  float: left;
  padding-right: 30px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.header-1 li:first-child {
  padding-top: 0px;
  padding-left: 100px;
}
.header-1 li:nth-child(6) {
  float:right;
}
.header-1 li:nth-child(7) {
  float:right;
  padding: 8px 20px 8px 20px;
  background-color: #666666;
  border-left: 1px solid #eaeaea;
}
.header-1 li:nth-child(8) {
  float:right;
  background-color: #666666;
  padding: 8px 20px 8px 20px;
}
.header-1 li:nth-child(9) {
  float:right;
  padding-top: 5px;
}
.header-1 li a {
  text-decoration: none;
  color: #232323;
}
.header-1 li a:hover {
  color: #6190BE;
}
span {
  color: white;
}
.header-2 li {
  display: inline;
  text-transform: uppercase;
  margin-right: 30px;
}
.header-2 li:first-child {
  margin-top: 20px;
  padding-left: 90px;
}
.header-2 li a {
  text-decoration: none;
  color: white;
  padding: 0 0 30px 0;
}
.header-2 li a:hover {
  color: #D2F311;
}
.header-2 li:nth-child(7) {
  background-color: #D2F311;
  padding: 35px 15px 25px;
}
.header-2 span {
  color: black;
}
.header-3 li {
  display: inline;
  padding-right: 30px;
  text-transform: uppercase;
  margin-top: 10px;
}
.header-3 li:first-child {
  margin-left: 250px;
}
.header-3 li a {
  color: #9DAAA5;
  text-decoration: none;
}
.header-3 li a:hover {
  color: #D2F311;
}
main{
  width: 55%;
  margin-left: 120px;
}
main img {
  width: 680px;
  height: 380px;
  margin-bottom: 40px;
}
main p {
  color: #666666;
  margin-bottom: 40px;
  margin-left: 40px;
}
main h2 {
  border-bottom: 3px solid #F2CB05;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 40%;
  text-align: right;
}
.side {
  float:right;
  width: 27%
}
.side a {
  color:#2B98BC;
  font-size: 15px;
  text-decoration: none;
}
.side h3 {
  text-transform: uppercase;
}
.side h5 {
  text-transform: uppercase;
}
.side p {
  color: #666666;
}
section li {
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
}
section li a {
    text-decoration: none;
    padding: 20px;
    color: #666666;
    margin: 0px;
}
section li a span {
  color: #F2BF11;
  background-color: #181818;
  padding: 20px;
  margin: 0px;
}
section li a:hover {
  color: #F2BF11;
  background-color: #181818;
  padding: 20px;
}
